extends layout

block hero-unit
  div#carouselExampleSlidesOnly(class="carousel slide" data-ride="carousel")
    div.carousel-inner
      div.carousel-item.active
        div.back
          img.d-block.w-100(src="images/singer.jpg" alt="First slide")
      div.carousel-item
        img.d-block.w-100(src="images/2.jpg" alt="Second slide")
      div.carousel-item
        img.d-block.w-100(src="images/3.jpg" alt="Third slide")