extends layout

block hero-unit
  div#carouselExampleSlidesOnly.carousel-slide.data-ride.carousel
    div.carousel-inner
      div.carousel-item.active
        img.d-block.w-100(src="images/1.jpg" alt="First slide")
      div.carousel-item
        img.d-block.w-100(src="images/2.jpg" alt="Second slide")
      div.carousel-item
        img.d-block.w-100(src="images/3.jpg" alt="Third slide")